@model MyCompany.MyProject.Domain.Inventory.Entities.InventoryItemEntity
@{
    ViewBag.Title = "Details";
}
<h2>Details:</h2>
Id: @Model.Rsn<br />
Name: @Model.Name<br />
Count: @Model.CurrentCount<br /><br />

@Html.ActionLink("Rename","ChangeName", new{Id=Model.Rsn})<br />
@Html.ActionLink("Deactivate","Deactivate",new{Id=Model.Rsn})<br />
@Html.ActionLink("Check in","CheckIn", new{Id=Model.Rsn})<br />
@Html.ActionLink("Remove","Remove", new{Id=Model.Rsn})<br /><br />
<a href="/">Back</a>