<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jquerymobile")
	@Styles.Render("~/Content/jquerymobile")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/SignalR")
	@Scripts.Render("~/bundles/Cookies")
	<script src="@Url.Content("~/../API/signalr/hubs")" type="text/javascript"></script>
	<script type="text/javascript">
		getFormData = function($form) {
			var unindexedArray = $form.serializeArray();
			var indexedArray = {};

			$.map(unindexedArray, function(n, i) {
				indexedArray[n['name']] = n['value'];
			});

			return indexedArray;
		};

		var receiptHub;
		$(function () {
			var userAuth = Math.random() * 1000000;
			userAuth = 6439223032702248;

			Cookies.set("X-Token", userAuth);

			// Declare a proxy to reference the hub.
			receiptHub = $.connection.notificationHub;

			// Create a function that the hub can call to broadcast messages.
			receiptHub.client.registered = function (event) {
				console.info("Now registered to receive notifications on '" + event + "'.");
			};

			$.connection.hub.qs = { "X-Token": userAuth };
			$.connection.logging = false;

			// Start the connection.
			$.connection.hub.start({ withCredentials: false }).done(function () {
			});
		});
	</script>
	@RenderBody()

	@RenderSection("scripts", required: false)
</body>
</html>