<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>@ViewBag.Title - @ConfigurationManager.AppSettings["ApplicationName"]</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/SignalR")
		<script src="@Url.Content(Microsoft.Azure.CloudConfigurationManager.GetSetting("ApiUrl", false) + "/signalr/hubs")" type="text/javascript"></script>
	<script type="text/javascript">
		getFormData = function($form) {
			var unindexedArray = $form.serializeArray();
			var indexedArray = {};

			$.map(unindexedArray, function(n, i) {
				indexedArray[n['name']] = n['value'];
			});

			return indexedArray;
		};
	</script>
	<script src="@Url.Content(Microsoft.Azure.CloudConfigurationManager.GetSetting("ApiUrl", false) + "/Client/")" type="text/javascript"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
					@Html.ActionLink(ConfigurationManager.AppSettings["ApplicationShortName"], "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
				<p>&copy; @DateTime.Now.Year - @ConfigurationManager.AppSettings["ApplicationName"]</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
